/*reset css and universal styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

/*body*/
body {
    background: #08affe;
}

/*header*/
header {
    background: #08affe;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

/*main*/
section {
    margin: 0 auto;
    width: 80%;
    height: auto;
    display: flex;
    border: 2px solid white;
    box-shadow: 0 0 30px white;
}

#details, #quiz, #scoreboard {
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
    justify-content: space-between;
    background: white;
}

#details h2 {
    font-size: 200%;
}

p {
    padding: 1% 20%;
    font-size: 18px;
}

#quiz p {
    font-weight: bolder;
}

li {
    list-style-type: none;
}

/*answers section*/
#answers {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background: white;
}

/*class to hide display of certain sections and divs*/
.hidden {
    display: none;
}

/*buttons*/
button {
    background: white;
    height: auto;
    border: 1px dashed black;
    font-size: 18px;
}

#answers button {
    margin: 1% 0;
    background: white;
    height: 35px;
    border: 1px dashed black;
}

/*hover*/
button:hover {
    background-color: #DAF7FE;
    cursor: crosshair;
}

a:hover {
    cursor: crosshair;
}